- content_for :style do
  div.profile-form { width: 500px; margin: 0 auto; }
  div.profile-form h1 { font-size: 2em; margin-bottom: 1em; }
.profile-form
  %h1= t(".title")

  - semantic_form_for @user, :url => edit_profile_path, :html => {:class => "medium-form"} do |form|
    - form.inputs do
      = form.input :email, :required => true
      = form.input :first_name
      = form.input :last_name
      = form.input :password, :input_html => { :autocomplete => "off" }
      = form.input :password_confirmation, :input_html => { :autocomplete => "off" }
    - form.buttons do
      = form.commit_button t(".change")
      %li.cancel
        = t("or")
        = link_to t("cancel"), dashboard_path
