- content_for :style do
  div.login-form { width: 400px; margin: 0 auto; }
  div.login-form .header { position: relative; }
  div.login-form .header h1 { font-size: 2em; margin-bottom: 1em; }
  div.login-form .header a { position: absolute; top: 0px; right: 10px; }
  form.formtastic { }
  form.formtastic .inputs input { width: 73% !important; }
  form.formtastic fieldset ol li { display: block; margin-bottom: 1em; }
  form.formtastic fieldset { display: block; }
  form.formtastic .buttons li.cancel { padding-top: 4px; }

.login-form
  .header
    %h1= t(".title")
    = link_to t(".reset_password"), request_reset_password_path

  - semantic_form_for @user_session, :url => login_path do |form|
    - form.inputs do
      = form.input :login
      = form.input :password, :as => :password
      = form.input :remember_me, :as => :boolean, :required => false
    - form.buttons do
      = form.commit_button t(".login")
      %li.cancel
        %span
          or
          = link_to t("cancel"), dashboard_path, :class => "app-active-link"
      
