- content_for :style do
  div.user-profile { width: 600px; margin: 0 auto; position: relative; }
  h1.user-name { float: left; }
  a.edit-profile-link { float: left; padding-left: 1em }

.user-profile

  .clearfix
    %h1.user-name= "#{@user.last_name}, #{@user.first_name}"
    = link_to 'Edit', edit_profile_path, :class => "edit-profile-link clear"

  %ul
    %li
      Email:
      = @user.email 
    %li
      Registered on:
      = l(@user.created_at.localtime, :format => "%e %B %Y")
    -if @user.last_login_at.present?
      %li
        &nbsp;
      %li
        %h5 Connection information
      %li
        Last connection:
        = l(@user.last_login_at.localtime, :format => "%e %B %Y %H:%M")
      %li
        Last login IP:
        = @user.last_login_ip
      %li
        Current login IP:
        = @user.current_login_ip