- content_for :style do
  div.request-reset-password-form { width: 400px; margin: 0 auto; }

.request-reset-password-form
  %h1= t(".title")
  %p= t(".description")

  - semantic_form_for :request_reset_password, :html => {:class => "small-form"} do |form|
    - form.inputs do
      = form.input :email, :label => t(".email")
    - form.buttons do
      = form.commit_button t(".send_request")
      %li.cancel
        %span
          = t("or")
          = link_to t("cancel"), login_path