- content_for :style do
  div.login-form { width: 500px; margin: 0 auto; }
  div.login-form .header h1 { font-size: 2em; margin-bottom: 1em; }

.login-form
  .header
    %h1= t(".title")

  - semantic_form_for @user, :url => reset_password_path(params[:id]), :html => {:class => "medium-form"} do |form|
    - form.inputs do
      = form.input :password, :as => :password, :input_html => { :autocomplete => "off" }, :required => true
      = form.input :password_confirmation, :as => :password, :input_html => { :autocomplete => "off" }, :required => true
    - form.buttons do
      = form.commit_button t(".reset")
      %li.cancel
        = t(:or)
        = link_to t("cancel"), dashboard_path
