- content_for :style do
  div.login-form { width: 400px; margin: 0 auto; }
  div.login-form .header h1 { font-size: 2em; margin-bottom: 1em; }
  form.formtastic { }
  form.formtastic .inputs input { width: 73% !important; }
  form.formtastic fieldset ol li { display: block; margin-bottom: 1em; }
  form.formtastic fieldset { display: block; }
  form.formtastic .buttons li.cancel { padding-top: 4px; }

.login-form
  .header
    %h1= t(".title")

  - semantic_form_for @user, :url => reset_password_path(params[:id]) do |form|
    - form.inputs do
      = form.input :password, :as => :password
      = form.input :password_confirmation, :as => :password
    - form.buttons do
      = form.commit_button t(".reset")
      %li.cancel
        %span
          or
          = link_to t("cancel"), dashboard_path, :class => "app-active-link"
